<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codernauti.sweetie">


    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- activity -->

        <activity android:name=".MainActivity"
                  android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.LoginActivity"
            android:theme="@style/ChatTheme" />

        <activity android:name=".DashboardActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity android:name=".registration.RegisterActivity"
            android:theme="@style/ChatTheme" />

        <activity android:name=".pairing.PairingActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity"/>
        </activity>

        <!--android:windowSoftInputMode="adjustNothing"-->
        <activity android:name=".chat.ChatActivity"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/ChatTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity"/>
        </activity>

        <activity android:name=".chatDiary.ChatDiaryActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".gallery.GalleryActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".couple.CoupleActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme"/>
        <activity android:name=".couple.CoupleDetailsActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".todolist.ToDoListActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".settings.SettingsActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".geogift.GeogiftMakerActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".geogift.GeogiftDoneActivity"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity"/>
        </activity>


        <activity android:name=".geogift.GeogiftTestActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".gallery.GalleryInfoActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".chat.ChatInfoActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".todolist.ToDoListInfoActivity"
            android:theme="@style/AppTheme"/>

        <!-- activity from library -->

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>


        <!-- service -->

        <service android:name=".UserMonitorService"
            android:enabled="true"/>

        <service android:name=".GeogiftMonitorService"
            android:enabled="true"/>

        <service android:name=".geogift.GeofenceTrasitionService"/>

        <service android:name=".chat.MessagesMonitorService"
            android:enabled="true" />

        <service android:name=".gallery.UploadMediaService"
            android:exported="false"/>

        <!-- meta-data -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_locate_picker_key" />


    </application>



</manifest>